:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a,
#load-file,
#load-label {
  font-weight: 500;
  color: #858bff;
  text-decoration: underline;
  margin-left: 5px;
  font-size: inherit;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 1.5rem;
  line-height: 1;
  margin-left: 1rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto 0 auto;
  padding: 0rem;
  text-align: center;
}

header {
  margin-bottom: 0rem;
}

header,
.card,
.controls,
.footer {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.footer {
  color: #555;
  margin: 10px;
  text-align: left;
}

.logo {
  height: 4em;
  will-change: filter;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
  color: #444;
}

#player {
  border-radius: 8px;
  transform: scale(1.1);
}

.picker-name {
  width: 40%;
  text-align: left;
  font-weight: 600;
}

.picker-value {
  width: 50%;
  text-align: left;
  font-weight: bold;
  display: inherit;
  font-size: 1rem;
  font-weight: 100;
}

#set {
  font-weight: 600;
}

.card :first-child {
  grid-column: 1/-1;
}

.picker,
.picker-header {
  background-color: #777;
  color: #fff;
  border-radius: 30px;
  padding: 5px 20px;
  text-align: left;

  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#note {
  padding: 3px 10px;
  margin: 0 15px;
  flex-grow: 1;
}

.controls {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(275px, 1fr)
  ); /* see notes below */
  grid-gap: 0.5em;
  justify-items: center;
  align-items: center;
  font-size: large;
  margin-bottom: 0.5rem;
}

.controls button {
  border-radius: 20px;
}

.controls span {
  margin-left: 1em;
}

.controls audio {
  height: 40px;
}

.controls select {
  font-size: large;
}

.picker-header #pick-all,
.picker .picker-btn,
.picker .picker-menu-btn,
.picker select,
.picker-header select,
.controls select {
  font-size: large;
  color: #fff;
  background-color: #777;
  padding: 0;
  border: 0;
  text-align: right;
}

.picker-header #pick-all {
  font-size: 40px;
}

.picker-btns {
  display:flex;
}

.picker .picker-btn,
.picker .picker-menu-btn {
  font-size: 35px;
}

.picker-header,
.picker-header #pick-all {
  background-color: #555;
}

.picker-header select {
  border-radius: 15px;
}

.controls select,
.picker select {
  border-radius: 15px;
  background-color: #555;
}

.controls select {
  padding: 7px 10px;
}
.picker select,
.picker-header select {
  text-align: left;
  display: block;
  box-sizing: border-box;
  width: 92%;
  padding: 7px 10px;
}

#picker-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  display: none;
}

/* Styles for the modal content */
#menu-content {
  /* Set modal properties */
  position: fixed;
  transform: translate(-99%, 0%);
  background-color: #777;
  color: #fff;
  padding: 15px;
  border-radius: 4px;
}

/* Styles for the close button */
#menu-close {
  /* Set close button properties */
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #777;
  color: #fff;
  border: none;
  font-size: 1rem;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
input.visually-hidden:focus + label {
  outline: thin dotted;
}

input.visually-hidden:focus-within + label {
  outline: thin dotted;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a,
  #load-file,
  #load-label {
    color: revert;
  }

  button {
    background-color: #f9f9f9;
  }

  .card {
    background-color: #fff;
  }
  .footer {
    color: #bbb;
  }
}
