:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  background-color: #fff;
  color: #444;
  padding: 2em;
}

.picker-name {
  width: 40%;
  text-align: left;
}

.picker-value {
  width: 50%;
  text-align: left;
  font-weight: bold;
}

.card :first-child {
  grid-column: 1/-1;
}

.picker,
.picker-header {
  background-color: #aaa;
  color: #fff;
  border-radius: 30px;
  padding: 5px 20px;
  text-align: left;

  font-size: x-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.files {
  display: flex;
  justify-content: right;
  align-items: center;
}

.files * {
  font-size: large;
  margin-right: 5px;
}

.files button {
  border-radius: 20px;
}

.picker-header button,
.picker button,
.picker-header select {
  font-size: xx-large;
  color: #fff;
  background-color: #aaa;
  padding: 0;
  border: 0;
  text-align: right;
}

.picker-header select {
  font-size: x-large;
}

.picker-header,
.picker-header button {
  background-color: #888;
}